<h3>Holy Crap - Another JavaScript Site!</h3>

<img src="/public/img/ray.jpg" style="float:right">
<p>
Yeah, seriously, we need more sites about JavaScript. Honest. No, seriously, I built this as I'm a big fan
of "cookbook"-style web sites and frankly, I wanted my own little organized library of common JavaScript problems
(with solutions of course). Yes, I know StackOverflow exists. 
</p>


<p>
Who am I? I'm Raymond Camden, a Creative Cloud evangelist for <a href="http://www.adobe.com">Adobe</a>. You can find my personal
blog at <a href="http://www.raymondcamden.com">raymondcamden.com</a>.
</p>