
sourceurl (where did I find the snippet)
sourceauthor (ditto - both this and sourceurl may be blank)
code
tags
created_at, updated_at
sesURL (used for links)

<form method="post" action="/article/new">
title: <input type="text" name="title"><br/>
body: <textarea name="body"></textarea><br/>
tags: <input type="text" name="tags"><br/>
sourceurl: <input type="url" name="sourceurl"><br/>
sourceauthor: <input type="text" name="sourceauthor"><br/>
code: <textarea name="code"></textarea><br/>
<input type="submit">
</form>