<div class="row">

	<div class="span10">
		
		<h2>Welcome</h2>

		<p class="lead">
		The JavaScript Cookbook is a site for common JavaScript problems and solutions. Anyone is 
		welcome to <a href="/submit">contribute</a> an article. 
		</p>		
		
		<h3>Updates</h3>
		<p>
		June 20, 2013 was launch day! Since the initial launch I've added a <a href="http://www.javascript.com/rss">RSS feed</a>
		and a new "More Info" property. This will be used to link to an article, specification, etc related to the code.
		</p>
		
		<h3>Latest Articles</h3>
		
		{{#each articles}}
		<p>
		<a href="/article/{{sesURL}}">{{title}}</a> - {{dateFormat created_at}}
		</p>
		{{/each}}
				
	</div>
	
	<div class="span2">
		<ul class="nav nav-list well">
			<li class="nav-header">Tags</li>
			{{#each tags}}
				<li><a href="/tag/{{urlFormat .}}">{{.}}</a></li>
			{{/each}}
		</ul>		
	</div>
	
</div>
